article {
  background: brown;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

a {
  border-bottom: 1px solid black;
  color: black;
  background-color: coral;
  border-radius: 0 0 5px 5px;
}

img {
  width: 100%;
}

.image {
  border-radius: 5px 5px 0 0;
  height: 45%;
  overflow: hidden;
  width: 100%;
}