article {
  background: brown;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

h3 {
  border-bottom: 2px solid black;
  margin-top: 5px;
  height: 15%;
}

p {
  height: 12vh;
  margin-top: 5px;
}

a {
  color: black;
  background-color: coral;
  border-radius: 0 0 5px 5px;
  height: 3vh;
}

img {
  width: 100%;
}

.image {
  border-radius: 5px 5px 0 0;
  height: 250px;
  overflow: hidden;
  width: 100%;
}